Flask-HTTPAuth>=2.7.1
Flask-Migrate>=1.5.1
Flask-SQLAlchemy>=2.0
Flask-TokenAuth>=0.0.2
Flask>=0.10.1
SQLAlchemy>=1.0.8
arrow>=0.7.0
gunicorn
orloclient>=0.1.1
passlib>=1.6.1
psycopg2>=2.6.1
pytest
pytz
requests>=2.4.2
sqlalchemy-utils>=0.31.0
mock==1.3.0
mockldap>=0.2.6
pyldap>=2.4.25
six>=1.10.0
git+https://github.com/al4/flask-testing.git
