Source: python-orlo
Section: python
Priority: extra
Maintainer: Alex Forbes <alforbes@ebay.com>
Build-Depends: debhelper (>= 9), python, dh-virtualenv, gcc, python-dev, postgresql-server-dev-all
Standards-Version: 3.9.5

Package: python-orlo
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: An API for tracking deployments, written with Python, Flask and SqlAlchemy.


