# Systemd unit file for orlo

[Unit]
Description=orlo
After=network.target
After=postgresql.service
ConditionPathExists=/usr/bin/orlo

[Service]
Type=simple
User=orlo
Group=orlo
ExecStart=/usr/bin/orlo start
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
