#!/usr/bin/make -f
DH_VIRTUALENV_INSTALL_ROOT := /opt/venvs
export DH_VIRTUALENV_INSTALL_ROOT

%:
	dh $@ --with systemd --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --no-test --python /usr/bin/python
